/* Stretch the page to full height  */

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Position elements in the body with flexbox */

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

/* Responsive settings for the recipe form */

.recipe-type,
.recipe-ingredient,
.remove-ingredient {
    flex: 1 1 100%
}

.recipe-time,
.recipe-serves,
.recipe-quantity,
.recipe-unit {
    flex: 1 1 5rem
}