/* Fonts and colours */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Sacramento&display=swap');

.navbar a.navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    font-weight: 400;
}

.navbar a.nav-link {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
}

.navbar input,
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h1,
h2,
h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 1px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.2em;
}

p,
li,
label {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

label {
    font-weight: 600;
}

footer p {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

.navbar {
    background-color: #c02f3e;
}

footer {
    background-color: #198754;
}

.btn-success {
    border-color: #13633d;
}

.btn-danger {
    border-color: #be2d3c;
}

/* Stretch the page to full height  */

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Position elements in the body with flexbox */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Responsive settings for the login and register form */

.login-form>form,
.register-form>form {
    flex: 0 1 25rem;
}

/* Responsive settings for the recipe form */

.recipe-type,
.recipe-ingredient,
.remove-ingredient,
.remove-step {
    flex: 1 1 100%
}

.recipe-time,
.recipe-serves,
.recipe-quantity,
.recipe-unit {
    flex: 1 1 5rem
}

/* Remove margin for paragraphs in recipe cards */

.card p {
    margin: 0;
}