{% extends "base.html" %}
{% block heading %}
<h1 class="text-center">Adore Pasta</h1>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                Want to share your amazing pasta recipes with the world?
            </p>
            <p class="text-center">
                Register an account and share them with other pasta lovers!
            </p>
            <p class="text-center">
                Already a user? Log In!
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-12 col-md-6 d-flex justify-content-center my-3">
            <a href="#" class="btn btn-success">Register</a>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center my-3">
            <a href="#" class="btn btn-success">Log In</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-3">
            <h2 class="text-center">Recipe Of The Day</h2>
        </div>
    </div>
</div>
{% endblock %}