{% extends "base.html" %}
{% block heading %}
<h1 class="text-center">Adore Pasta</h1>
{% endblock %}
{% block content %}
{% if session.username is undefined %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 welcome-message">
            <p class="text-center">
                Want to share your amazing pasta recipes with the world?
            </p>
            <p class="text-center">
                Register an account and share them with other pasta lovers!
            </p>
            <p class="text-center">
                Already a user? Log in!
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-12 col-md-6 d-flex justify-content-center my-3">
            <a href="{{ url_for('register') }}" class="btn btn-success">Register</a>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center my-3">
            <a href="{{ url_for('login') }}" class="btn btn-success">Log In</a>
        </div>
    </div>
</div>
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-3">
            <div class="mb-3">
                {% if recipe %}
                <h2 class="text-center">Try this amazing recipe!</h2>
                {% elif session.username %}
                <h2 class="text-center">No recipes yet! Start sharing!</h2>
                {% endif %}
            </div>
            {% if recipe %}
            <!-- The code for the card was copied from https://getbootstrap.com/docs/5.0/components/card/ -->
            <div class="d-flex justify-content-center my-3">
                <div class="card flex-md-fill">
                    <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}">
                    <div class="card-header d-flex flex-wrap justify-content-between">
                        <p><em>{{ recipe.type | capitalize }}</em></p>
                        <p><em>Time: {{ recipe.time }} Minutes</em></p>
                        <p><em>Serves: {{ recipe.serves }}</em></p>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">{{ recipe.name | title }}</h2>
                        <p class="card-text">{{ recipe.description }}</p>
                        <h3 class="mt-3">Ingredients</h3>
                        <ul>
                            {% for ingredient in recipe.ingredients.values() %}
                            <li>
                                {{ ingredient.quantity }}
                                {{ ingredient.unit | lower }}
                                {{ ingredient.name | lower }}
                            </li>
                            {% endfor %}
                        </ul>
                        <h3>Method</h3>
                        <ol>
                            {% for step in recipe.method.values() %}
                            <li>
                                {{ step | capitalize }}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="card-footer">
                        <p><em>By: {{ recipe.firstname.capitalize() }} {{ recipe.lastname.capitalize() }}</em></p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}