{% extends "base.html" %}
{% block heading %}
<h1 class="text-center">Log In</h1>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <h2 class="text-center">Enter login details</h2>
            </div>
            <div class="d-flex justify-content-center login-form">
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center">
                        <div>
                            <a href="{{ url_for('home') }}" class="mx-3 my-3 btn btn-danger">Cancel</a>
                        </div>
                        <div>
                            <button type="submit" class="mx-3 my-3 btn btn-success">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}