{% extends "base.html" %}
{% block heading %}
<h1 class="text-center">My Recipes</h1>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center my-3">
                <a href="{{ url_for('add_recipe', username=session.username) }}" class="btn btn-success">Add Recipe</a>
            </div>
            {% for recipe in recipes %}
            <!-- The code for the card was copied from https://getbootstrap.com/docs/5.0/components/card/ -->
            <div class="d-flex justify-content-center my-3">
                <div class="card">
                    <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}">
                    <div class="card-header d-flex flex-wrap justify-content-between">
                        <p><em>{{ recipe.type }}</em></p>
                        <p><em>Time: {{ recipe.time }} Minutes</em></p>
                        <p><em>Serves: {{ recipe.serves }}</em></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <p class="card-text">{{ recipe.description }}</p>
                        <ul>
                            {% for ingredient in recipe.ingredients.values() %}
                            <li>
                                {{ ingredient.quantity }}
                                {{ ingredient.unit }}
                                {{ ingredient.name }}
                            </li>
                            {% endfor %}
                        </ul>
                        <ol>
                            {% for step in recipe.method.values() %}
                            <li>
                                {{ step }}
                            </li>
                            {% endfor %}
                        </ol>
                        <div class="d-flex flex-wrap justify-content-center">
                            <a href="{{ url_for('edit_recipe', username=session.username, recipe_id=recipe._id) }}"
                                class="btn btn-warning mx-3 my-1">Edit</a>
                            <form method="POST" class="mx-3 my-1"
                                action="{{ url_for('delete_recipe', username=session.username, recipe_id=recipe._id) }}">
                                <button id="delete-recipe" type="submit" class="btn btn-danger">Delete</a>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p><em>By: {{ userdata.firstname.capitalize() }} {{ userdata.lastname.capitalize() }}</em></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}